# Node
node_modules/

# Build output
dist/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
.DS_Store
